body {
    font-family: Palatino,Times,arial,STSong,SimSun,serif;
    font-weight:400;
    margin: 0;
    padding: 0;
}
a {
    color: #111;
    outline: 0;
    text-decoration: none;
}
h1, h2, h3, h4, h5, h6 {
    padding: 0;
    margin: 0;
    font-family: Palatino,STSong,SimSun,serif;
    font-weight: 600;
    letter-spacing: -.01em;
}
ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
.link:hover {
    color: #0070c9;
}
.header {
    display: block;
    margin: 0;
    width: 100%;
    min-width: 1024px;
    height: 48px;
    max-height: 44px;
    background: rgba(45,45,45,0.98);
    font-size: 17px;
}
.header__content {
    display: flex;
    margin: 0 auto;
    max-width: 980px;
    padding: 0 22px;
    position: relative;
    z-index: 2;
}
.header__title {
    display: inline-block;
    font-size: 24px;
    color: #fff;
    line-height: 44px;
}
.content {
    width: 1000px;
    margin: 0 auto;
    padding: 30px 15px;
    display: flex;
}
.main {
    flex: 1;
}
.nav-box {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    cursor: default;
    margin: 0 -10px;
    width: auto;
    height: 44px;
}
.nav-box__item {
    margin: 0;
    box-sizing: border-box;
    display: inline-block;
    position: relative;
    height: 44px;
    z-index: 1;
    vertical-align: top;
    color: #fff;
    line-height: 44px;
    padding: 0 10px;
}
.nav-box__item a {
    color: #fff;
}
.sidebar {
    width: 260px;
    padding-left: 16px;
}
.post-card {
    margin-bottom: 30px;
}
.post-card__title {
    font-size: 20px;
    line-height: 20px;
}
.post-card__summary {
    height: 48px;
    margin-top: 15px;
    font-size: 15px;
    line-height: 24px;
    color: #888;
}
.post__extra,
.post-card__extra {
    color: #777;
    margin-top: 10px;
}
.post__date::after,
.post-card__date::after {
    content: '|';
    padding: 0 5px;
    color: #ccc;
}
.post__date--no::after,
.post-card__date--no::after {
    display: none;
}
.post-card__continue-reading {
    color: #a62425;
}
.post__title {
    font-size: 30px;
    line-height: 42px;
}
.post__content {
    font-size: 17px;
    line-height: 28px;
    margin-bottom: 20px;
    width: 700px;
    overflow: hidden;
}
.post__meta {
    margin-top: 10px;
    margin-bottom: 20px;
}
.post-nav {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #e8e8e8;
}
.post-nav__prev,
.post-nav__next {
    padding: 0 12px;
}

.post-nav__pager {
    display: block;
    padding: 15px 0;
}
.post-nav__label {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 8px;
    font-size: 14px;
    color: #bfbfbf;
}
.post-nav__label--end {
    justify-content: flex-end;
}
.post-nav__title {
    font-size: 16px;
    font-weight: 500;
    color: #262626;
    transition: color .35s ease;
}
.widget {
    margin-bottom: 20px;
}
.widget__title {
    margin: 0;
    padding: 0;
    margin-bottom: 10px;
    font-size: 20px;
}
.widget__content {
    color: rgba(0,0,0,.54);
}
.widget__list-item {
    line-height: 24px;
}
.pagination {
    margin-top: 10px;
    display: flex;
    justify-content: flex-end;
}
.footer {
    background-color: #f2f2f2;
    background-color: #f2f2f2;
    color: #333;
    min-width: 1024px;
    overflow: hidden;
    position: relative;
}
.footer__content {
    text-align: center;
    color: #888;
    padding: 17px 0 21px;
    margin: 0 auto;
    max-width: 980px;
    font-size: 12px;
}