{
    "plugins": [
        ["import", { "libraryName": "antd", "libraryDirectory": "lib"}, "ant"],
        [ "@babel/plugin-proposal-decorators", { "legacy": true }],
        [ "@babel/plugin-proposal-class-properties", { "loose": true }],
        [ "transform-react-jsx" ],
    ],
    "presets": [
        [
          "@babel/preset-env",
        ]
    ]
}