* {
    box-sizing: border-box;
}
body,
html {
    font-family: Palatino,Times,arial,STSong,SimSun,serif;
    font-size: 14px;
    line-height: 1.5;
}
a {
    outline: 0;
    text-decoration: none;
    color: #111;
}
svg {
    transition: all .3s ease;
}
.link {
    &--on {
        color: #a62425;
    }
    &:hover {
        color: #a62425;
    }
}
.ellipsis {
    overflow: hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
}
.content {
    display: flex;
    width: 1000px;
    margin: 0 auto;
    padding: 20px 16px;
}
.main {
    flex: 1;
}
.sidebar {
    width: 260px;
    padding-left: 16px;
}
.header {
    display: block;
    margin: 0;
    width: 100%;
    min-width: 1024px;
    height: 48px;
    max-height: 44px;
    background: rgba(45,45,45,0.98);
    font-size: 17px;

    &__content {
        display: flex;
        margin: 0 auto;
        max-width: 1000px;
        padding: 0 16px;
        position: relative;
        z-index: 2;
    }

    &__title {
        display: inline-block;
        font-size: 24px;
        color: #fff;
        line-height: 44px;
    }
}

.nav-box {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    cursor: default;
    margin: 0 -10px;
    width: auto;
    height: 44px;

    &__item {
        margin: 0;
        box-sizing: border-box;
        display: inline-block;
        position: relative;
        height: 44px;
        z-index: 1;
        vertical-align: top;
        color: #fff;
        line-height: 44px;
        padding: 0 10px;

        a {
            color: #fff;
        }
    }
}

/*
* post-card
*/
.post-card {

    &__title {
        font-size: 20px;
        line-height: 26px;
    }

    &__summary {
        height: 48px;
        margin-top: 15px;
        font-size: 15px;
        line-height: 24px;
        color: #888;
    }

    &__extra {
        margin-top: 10px;
        font-size: 14px;
    }

    &__date {
        &::after {
            content: '|';
            padding: 0 5px;
            color: #ccc;
        }
        &--no {
            &::after {
                display: none;
            }
        }
    }
}

/*
* post
*/
.post {

    &__title {
        margin: 0;
        font-size: 24px;
        line-height: 34px;
    }

    &__content {
        font-size: 17px;
        line-height: 28px;
        padding: 16px 0;
        width: 700px;
        overflow: hidden;
    }

    &__meta {
        margin-top: 10px;
        font-style: italic;
        color: #888;
        font-size: 14px;
    }

    &__extra {
        color: #777;
        margin-top: 10px;
        font-style: italic;
    }

    &__date {
        &::after {
            content: '|';
            padding: 0 5px;
            color: #ccc;
        }
        &--no {
            &::after {
                display: none;
            }
        }
    }
}

.post-nav {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #e8e8e8;
    margin-bottom: 10px;

    &__prev,
    &__next {
        padding: 0 12px;
        max-width: 50%;
    }

    &__pager {
        display: block;
        padding-top: 10px;
        padding-bottom: 0px;
    }

    &__label {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        margin-bottom: 8px;
        font-size: 14px;
        color: #bfbfbf;
    }

    &__label--end {
        justify-content: flex-end;
    }

    &__title {
        font-size: 16px;
        font-weight: 500;
        color: #262626;
        transition: color .35s ease;
        line-height: 24px;
    }
}

.browser {
    text-align: center;
    line-height: 1;
    transition: all 1.5s ease;
    margin-bottom: 10px;
}
.browser .browser-top {
    width: 100%;
    max-width: 774px;
    max-height: 30px;
    height: 100%;
    display: block;
    margin: auto auto -1px;
}
.browser.aos-animate {
    transform: translateY(0) scale(1);
}
.browser .code {
    display: block;
    background: #272c35;
    max-width: 774px;
    margin: auto;
    color: #fff;
    text-align: left;
    padding: 20px;
    border-radius: 0;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    overflow-x: auto;
}

/*
* widget
*/
.widget {
    margin-bottom: 20px;

    &__title {
        margin: 0;
        padding: 0;
        margin-bottom: 10px;
        font-size: 20px;
    }

    &__content {
        color: rgba(0,0,0,.54);
        font-size: 16px;
    }

    &__list {
        list-style: none;
        margin: 0;
        padding: 0;
    }

    &__list-item {
        line-height: 26px;
    }
}

/*
* pagination
*/
.pagination {
    margin-top: 10px;
    display: flex;
    justify-content: flex-end;
}

.footer {
    background-color: #f2f2f2;
    color: #333;
    min-width: 1024px;
    overflow: hidden;
    position: relative;

    &__content {
        text-align: center;
        color: #888;
        padding: 17px 0 21px;
        margin: 0 auto;
        max-width: 980px;
        font-size: 12px;
    }
}