@media (max-width:900px) {
    .header {
        min-width: auto;
    }
    .content {
        width: 100%;
        display: block;
        padding: 0;
    }
    .main {
        padding: 16px;
    }
    .sidebar {
        display: none;
    }
    .post-card {
        &__extra {
            font-size: 14px;
        }
    }
    .post {
        &__content {
            width: 100%;
        }
    }
    .post-nav {
        display: block;

        &__label--end {
            justify-content: flex-start;
        }
    }
    .footer {
        width: 100%;
        min-width: auto;
    }
}