body,
html {
    padding: 0;
    margin: 0;
    width: 100%;
    color: #595959;
    background-color: #ffffff;
}
.g-viewport {
    display: flex;
    overflow: hidden;
    flex-grow: 1;
    max-height: 100%;
    background-color: inherit;
}
.g-main {
    margin-top: 16px;
    width: 1056px;
    margin-left: auto;
    margin-right: auto;
}

// 覆盖掉 Ant 样式
.ant-menu-item {
    top: 1;
    margin-top: 0;
    border: 0;
    
    &:hover {
        border-bottom: 0;
        bottom: 0;
    }
}
.ant-menu-horizontal {
    line-height: 60px;
    border-bottom: 0;
}
.ant-menu-item-active {
    border-bottom: 0;
}
.anticon-logout {
    margin-right: 5px;
}